.git
.github
node_modules
npm-debug.*
.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.DS_Store
.env
.env.*
*.log
coverage
*.md
__tests__
__mocks__
docs
README.md
CHANGELOG.md
LICENSE
*.test.js
*.spec.js
